<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">

		<!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame
		Remove this if you use the .htaccess -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>index</title>
		<meta name="description" content="">
		<meta name="author" content="GS-sw1">

		<meta name="viewport" content="width=device-width; initial-scale=1.0">

		<!-- Replace favicon.ico & apple-touch-icon.png in the root of your domain and delete these references -->
		<link rel="shortcut icon" href="/favicon.ico">
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		<link rel="stylesheet" type="text/css" href="../static/css/style.css/">
		
	</head>

	<body style="text-align:center">
		<div class="index">
			<img src="../static/img/logo.jpg" class="logo"><br>
		<div class=	"title">
			<a href="/timingsheet/">Timing Sheet</a>
			<a href="/attendancesheet/">Attendance Sheet</a>
		</div>	
		</div>
	</body>
</html>
